@mixin flex-col($gap:1rem){
    display: flex;
    flex-direction: column;
    gap:$gap;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-container{
        min-width: 25%;
        @include flex-col(0rem);
        h2{
            font-size: 4rem;
            text-align: center;
            color: black;
        }
        p{
            text-align: center;
            color: rgba(76, 75, 75, 0.903);
            font-weight: 100;
            font-size: 1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        form{
            @include flex-col(1rem);
            input,button{
                outline: none;
                border: none;
                padding-inline: 2.5rem;
                padding-block: 1rem;
                border-radius: .5rem;
                font-size: 1.5rem;
                border-bottom: 0.1rem solid black;
                font-family: monospace;
            }
            button{
                font-weight: 800;
                cursor: pointer;
                &:active{
                    scale: .98;
                }
            }
        }
       .toggleAuthForm{
        color: red;
        cursor: pointer;
        text-decoration: none;
       }
    }
}
img{
    height: 100%;
}