nav{
    height: 10vh;
    width: 100%;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .leftside{
        font-size: 2rem;
    }
    .rightside{
        display: flex;
        align-items: center;
        gap: 10px;
        .userdetails{
            h1{
                font-size: 1.5rem;
                font-weight: 900;
            }
            h5{
                font-size: 1rem;
                color: rgb(196, 193, 193);
            }
        }
    }
}