*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

html{
    background: #333;
}

.notes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 100% !important;
}
.note{
    max-width: 100vw;
    flex-shrink: 0;
    background: #242323;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px
}
.note h2{
    color: #fff;
    margin-bottom: 10px;
}
.note p{
    color: #7e7878;
}
.form-box{
    padding: 20px;
    background-color: #242323;
}
.notes-create-form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: #242323;
    font-size: 15px;
    background-color: #333;
}
button{
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    border: #242323;
    font-size: 15px;
    background-color: hsl(0, 0%, 20%);
    color: #7e7878;
    transition: all .1s ease;
}
button:active{
    scale: .80;
}
.btnbox{
    display: flex;
    gap: 1rem;
}